body {
    margin: 0;
    padding: 0;
}  

nav {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 22%, rgba(0,212,255,1) 100%);
    text-align: center;
}
nav h2 {
    color: white;
    padding: 25px;
    letter-spacing: 2px;
}

.weather-icon {
    height: 30px;
    width: 30px;
}